package ${package}.${moduleName}.mapper;

import ${package}.${moduleName}.model.${className};
import com.central.db.mapper.SuperMapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.apache.ibatis.annotations.Param;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Mapper extends SuperMapper<${className}> {
    /**
     * 分页查询用户列表
     * @param page
     * @param params
     * @return
     */
    List<${className}> findList(Page<${className}> page, @Param("p") Map<String, Object> params);
}
