package ${package}.${moduleName}.service;

import ${package}.${moduleName}.model.${className};
import com.central.common.model.PageResult;
import ${package}.common.service.ISuperService;

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${className}Service extends ISuperService<${className}> {
    /**
     * 列表
     * @param params
     * @return
     */
    PageResult<${className}> findList(Map<String, Object> params);
}

