<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.central.user.mapper.SysRolePermissionMapper">

	<delete id="deleteRolePermission">
		delete from sys_role_permission
		<where>
			<if test="roleId != null">
				and roleId = #{roleId}
			</if>
			<if test="permissionId != null">
				and permissionId = #{permissionId}
			</if>
		</where>
	</delete>

	<select id="findPermissionsByRoleIds" resultType="com.central.common.model.SysPermission">
		select p.* from
		sys_permission p
		inner join sys_role_permission rp on
		p.id = rp.permissionId
		<where>
			rp.roleId in
			<foreach collection="roleIds" item="roleId" open="("
				separator="," close=")">
				#{roleId}
			</foreach>
		</where>
	</select>
</mapper>